*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body{
    /* background-color: seagreen; */
    margin-top: 50px;
}

.all-container{
    box-shadow: 0 0 10px black;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}


/* Header */
header{
    /* background-color: seagreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* max-width: 1440px;
    width: 100%;
    margin: 0 auto; */
    padding-left: 30px;
    padding-right: 30px;
    padding: 10px;
    padding-bottom: 30px;
    
    
}

#logo{
    width: 33%;
    text-align: center;
}

#search{
    width: 33%;
    text-align: center;

}

.searchBox{
    border: none;
    border-bottom: 1px solid #141414;
    padding-left: 15px;
    font-size: 18px;
    background-color: transparent;
}

#search button{
   width: 33px;
   height: 33px;
   /* background: red; */
   background-color: white;
   border: none;
   padding: 3px;
   cursor: pointer;

}

#search button img{
    width: 100%;
   
}


/* Košík */
#cart{
    /* text-align: center; */
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    

   


}

#cart article{

    position: relative;

}

#cart article img{
    width: 40px;
    cursor: pointer;
}

#cart article span{
    background-color: rgb(238, 158, 158);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
    line-height: 20px;
    top: -10px;
    display: none;
}


.total-price{
     min-width: 50%;
     text-align: center;
}





/* Main */
main{
  
    display: flex;

    min-height: 95vh;
   

}

/* Sidebar */
.sidebar{
    min-width: 170px;
    max-width: 170px;
    /* background-color: #e5e5e5; */
    /* background-color: blueviolet; */
    /* border-radius: 15px; */
    overflow: hidden;
    margin-right: 30px;
  
    

}

.sidebar-container{
  
}
.sidebar button{
    width: 100%;
    /* background-color: chartreuse; */
    /* text-align: center; */
    text-align: left;
    /* padding: 10px; */
    /* margin-top: 1px; */
    cursor: pointer;
    border: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
  
    border-bottom: 1px solid black;
}

/* STyly pro funkci siedebar */

.activeBtn{
    /* font-size: 15px; */
    font-weight: 800;
}

.activeBtn span{
    display: inline-block;
    width: 10px;
    height: 30px;
    background-color: blue;
}




/* container produktu */

.container-product{
    width: 100%;
    /* background-color: orange; */
    display: flex;
    flex-wrap: wrap;

}

.card-product{
    width: 250px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px black;
    position: relative;
    background-color: white;
    border-radius: 5px;
  

}

.card-product img{
    width: 100%;
    height: 220px;
    object-fit: contain;

}
.card-product article{

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;


}

.card-product article h2{
    font-size: 16px;
    text-align: center;
}

.card-product article  h3{
    margin: 10px;
    text-align: center;
}

.card-product article button{
    width: 90%;
    padding: 5px 15px;
    background-color: #141414;
    color: white;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;

}




/* Okno košíku  */
.cart-all{



    min-height: 100vh;
    max-width: 400px;
    width: 100%;
   
    
    display: none;
}
/* Přepínací class na zviditelnějí */
.cart-all-active{
    display: block;
}

/* Jednotlivé karty v košíku */
.cart-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 80px;
    max-width: 400px;
    /* border: 3px solid red; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);



}
.cart-card article{
    /* object-fit: cover; */
    height: 65px;
    width: 65px;
    /* border: 3px solid red; */
    margin-left: 10px;
    /* margin-right: 0px; */
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 5px black;
    
    

}
.cart-card article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
    

}

.cart-card h2{
    font-size: 12px;
    max-width: 120px;
    text-transform: capitalize;
}

.cart-card h3{
    font-size: 15px;
}

.cart-card div{
    min-width: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-pluse{
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    border: none;
    background-color: rgb(65, 180, 65);
    font-size: 20px;
    margin-right: 15px;
}

.button-minus{
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    border: none;
    background-color: rgb(221, 116, 112);
    font-size: 20px;
   
  
}





