*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body{
    /* background-color: seagreen; */

}


/* Header */
header{
    background-color: seagreen;
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding: 10px;
    
}

#logo{
    width: 33%;
}

#search{
    width: 33%;

}


/* Košík */
#cart{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#cart img{
    width: 10%;
}

.cart-all{
    /* position: absolute;
    top: calc(100% + 10px);
    left: 0; */
    height: 100vh;
    max-width: 400px;
    width: 100%;
   
    background-color: antiquewhite;
    display: none;
}
/* Přepínací class na zviditelnějí */
.cart-all-active{
    display: block;
}

/* Main */
main{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;

    min-height: 95vh;


}

/* Sidebar */
.sidebar{
    min-width: 200px;
    background-color: blueviolet;
}
.sidebar p{
    background-color: chartreuse;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.container-product{
    width: 100%;
    background-color: orange;
}

/* container produktu */

.container-product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.card-product{
    width: 250px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px black;
    position: relative;
    background-color: white;
    border-radius: 5px;
  

}

.card-product img{
    width: 100%;
    height: 220px;
    object-fit: contain;

}
.card-product article{

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;


}

.card-product article h2{
    font-size: 16px;
    text-align: center;
}

.card-product article  h3{
    margin: 10px;
    text-align: center;
}

.card-product article button{
    width: 90%;
    padding: 5px 15px;
    background-color: #141414;
    color: white;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;

}